@media screen and (max-width:576px) {
    
    .nav-hamburger{
        display: block;
        
    }
    .nav-option{
        display: none;
    }
    .banner-section{

        flex-direction: column;
    }
    .card-container{
flex-direction: column;
    }
    .run-container{
        flex-direction: column;
    }
}