@media screen and (max-width:576px) {
   
    .nav-hamburger{
        display: block;
        margin-right: 20px;
        
    }
    .nav-option{
        display: none;
    }
    .banner-section{

        flex-direction: column;
    }
    .card-container{
  flex-direction: column;
    }
    .run-container{
        flex-direction: column;
    }
    .run-image{
        margin-right: 80px;
    }
    .image-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .bmi-chat{
        display: flex;
        flex-direction: column;
       
    }
    
    .bmi-form{
       display: block;
    }
    .footer{
        flex-direction: column;
        
       
    }
    
}

