@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

                
body{
    font-family: "Inter", sans-serif;
    width: 100%;
    margin: 0  auto;
   
}

    /* shared style */
    .primary-head{
        font-size:2rem;
        text-align: center;
        font-weight: 900;
        color: #FFFFFF;
    }
    .description{
        font-weight: 400;
      font-size: 1rem;
     color: #FFFFFF80;
    }

    .nav-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-items: center;
        background: #111111;
      
        
       
    }
    .logo{   
        display: flex;
        align-items: center;
        color: rgb(230, 83, 60);
        font-weight: 800;
        font-size: 2.25rem;
        margin-left: 100px;
    
    }
    
#home{
    border-radius: 46px;
    padding: 6px 20px 6px 20px;
background: rgb(230, 83, 60);
}
.nav-option ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    color: white;
    gap:4rem ;
    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 39px;
padding: 6px 20px 6px 20px;
margin-right: 80px;

}
.nav-hamburger{
    display: none;
    color: white;
   
}
#shape{
    font-family:Miama;
    

}
.banner-section{
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: #111111;
  

}
.banner-content{
    margin-left: 100px;

}
 
.banner-title{
    font-weight: 700;
    font-size: 5rem;
    color: #FFFFFF;
   
}
.banner-description{
    font-weight: 400;
    font-size: 1rem;
    color: #FFFFFF80;
    padding-right: 200px;
}
.banner-image{
    position: relative;
    margin-right: 60px;
}
.banner-card-1{
    background: rgba(255, 255, 255, 0.1);
    height: 70px;
    width: 150px;
    border: 1px solid #FFFFFF1A;
    position: absolute;
    margin-top: -400px;
    margin-left: 200px;
    color: white;
}
.banner-card-2{
    background: rgba(255, 255, 255, 0.1);
    height: 70px;
    width: 150px;
    border: 1px solid #FFFFFF1A;
    position: absolute;
    margin-top: -150px;
    margin-right: 400px;
    color: white;
}
.number{
    
Font-weight: 900;
Font-size: 2.5rem;

Letter spacing: 1px;

}
.btn-primary{
Width: 200px;
Height: 50px;
background-color: rgb(230, 83, 60);
border-radius: 42px;
border: none;
font-weight: 600;
font-size: 1rem;
padding: 16px, 40px, 16px, 40px;
color:rgb(255, 255, 255);

}
/* change section style */
 
 .change-container{
    background-color: #111111;
}

.change-section{
    background-color: #111111;
}
.change-section p{
    font-weight: 200;
    font-size: .6rem;
    text-align: center;
 color: #FFFFFF80;

}
.card-container{
    display: flex;
    justify-content:space-around;
    margin: 40px 80px;
 
}
.card-1{
    display: flex;
    flex-direction: column;
    align-items: center;
   
   
    
}
.card-1 img{
    border-radius: 50%;
}
.card-1 h6{
   color: #FFFFFF;

    
}

/* run style */
.run-container{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    margin: 80px;
    border-radius: 18px;
    background: #222222;
    
    
      
    }
    .text-content p{
        margin-right: 30px;
    }
    .text-content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height:370px;
        margin-left: 80px;
        width: 50%;
        
      
    }
 
    .run-image{
      
    width: 50%;
    padding: 30px;
    border-radius: 30px;
    margin-right: 50px;
    
    }
    .run-image img{
        width: 300px;
        height: 255px;
    }
    /* bmi section */
.bmi-content{
    text-align: center;
}
.bmi-chat{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #222222;
   
}
.bmi-table{
  margin-left: 100px;
}
.bmi-form{
display: grid;
 margin-right: 30px;
  
}
.bmi-form p{

}
.bmi-description{
   
Font-weight: 900;
Font-size: 1.8rem;
color: #FFFFFF;
}
.form-type{

    display: grid;
    grid-template-columns: repeat(2,1fr);
  
}
table ,th,td{
    border: 1px solid
    #FFFFFF1A;
    border-collapse: collapse;
    color: rgba(255, 255, 255, 0.5);
    font-size: .75rem;
    padding: 10px;
    text-align: start;
    margin-bottom: 130px;
}
input{
   
    padding: 12px, 40px, 12px, 20px;
    width: 282px;
    height: 38px;
    border-radius: 8px ;
    border: none;
   background-color: rgba(255, 255, 255, 0.1);
}
/* meet section style */
.meet-image-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    





}
.meet-comtent{
    text-align: center;
}

.meet-image{
    position: relative;
}
.meet-title{
    position: absolute;
    margin-left: - 20px;
    margin-top: - 250px;

}
.meet-image img{
    width: 320px;
    height: 260px;
}
/* fotter style */

footer{
background: #111111;
   
}

.footer-container{
  
}
.footer{
    background-color:  rgba(255, 255, 255, 0.1);

display: flex;
justify-content: space-between;
align-items: center;
}
#fitness{
    font-family: Inter;
font-size: 70px;
font-style: italic;
font-weight: 800;

text-align: left;
color: rgba(230, 83, 60, 1);

}
.footer-description{
    width: 443px;
height: 72px;



}  
.footer-content {
    background-color:  rgba(255, 255, 255, 0.1);  
}
.footer-first{
  margin-left: 50px;
} 

